/*general*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body {
    background-color: #f3f3f3;
}

.titulo-seccion {
    font-weight: 900;
    text-align: center;
    padding: 3% 0%;
}


/*header*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    padding: 0;
}
.navbar-brand {
    width: 70%;
}
.img-logo {
    width: 9vh;
}

.container-fluid {
    background-color: #f3f3f3;
}

.bg-body-tertiary { 
    --bs-bg-opacity: 0;
}

.navbar-collapse {
    flex-direction: row-reverse;
    font-weight: 900;
    font-size: 100%;
}

.nav-link:hover {
    color: black;
}

/*slider*/

.slider {
    padding-left: 0;
}

.carousel-inner {
    display: flex;
    width: 100%;
    align-items: flex-end;
    height: 70vw;
}


.carousel.pointer-event {
    height: 70vw;
}

.navbar-collapse {
    text-align: center ;
}

@media screen and (min-width: 961px) {
    .carousel-inner {
        height: 65vh;
    }
    .carousel.pointer-event {
        height: 65vh;
    }

}

/*fin slider*/

/*servicios*/

.home-servicios {
    padding: 5%;
    margin: 5%;
    width: 90%;
    display: inline-block;
    background-color: #ffffff67;
    box-shadow: -7px -5px 20px 0px #0000004a;
    text-align: center;
}

.home-servicios p {
    text-align: justify;
}

.servicios-home {
    text-align: center;

}

.img-servicios-home {
    width: 100%;
    padding-bottom: 2%;
}

.link-servicios {
    text-decoration: none;
    color: black;
}

.boton {
    padding: 2% 7%;
    background-color: #e9e8e8;
    border-radius: 2%;
    border-style: none;
    text-decoration: none;
    color: black;
    box-shadow: 4px 4px 6px 0px #00000030;
    
}

.boton:hover {
    background-color: rgb(139, 139, 139);
    color: #ffffff;
    transition: 0.3s;
    box-shadow: 4px 4px 6px 0px #00000030;
}

@media screen and (min-width: 600px) {
    .home-servicios {
        display: inline-block;
        width: 370px;
    }

    .home-servicios {
        padding: 1%;
        margin: 0.5%;
    }

    

    .link-servicios {
        width: 100%;
    }

    .servicios-home {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-cont {
        height: 40%;
    }

    .img-servicios-home {
        height: 100%;
        object-fit: cover;
    }

    .serv-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 84px 136px 1fr;
    }

    .serv-grid h3 {
        align-self: center;
    }
}

/*fin servicios*/
/*nosotros*/

.nosotros-home {
    margin-top: 3%;
    box-shadow: 1px 20px 20px 0px #0000002b;
}

.nosotros-home div {
    background-color: #e0e0e0;
    margin-bottom: 60px;
}

.nos-cont {
    text-align: center;
    padding-bottom: 3%;
    margin: 1% 5%;
    padding: 5%;
    background-color: #e0e0e0;
}

.img-nosotros-home {
    width: 100%;
    padding-bottom: 3%;
}

.p-nosotros-home {
    text-align: justify;
}

.titulo-nosotros {
    font-weight: 900;
    margin-bottom: 35px;
}

.st {
    margin: 20px 0px 10px 0px;
}

.link-btn {
    text-decoration: none;
}


@media screen and (min-width: 1023px) { 
    .nos-cont {
        display: grid;
        grid-template-columns: 100px 1fr 1fr 1fr;
        grid-template-rows: 60px 60px 1fr 1fr 45px;
        padding: 2%;
        margin: 2% 10%;
        grid-template-areas: 
        "t t t t"
        "st st img img"
        "p p img img"
        "p p img img"
        "btn btn img img";
    }

    .img-nosotros-home {
        grid-area: img;
        padding-bottom: 0;
        grid-row-end: none;
    }

    .p-nosotros-home {
        grid-area: p;
        padding: 10px 20px 0px 0px;
    }

    .link-btn {
        grid-area: btn;
        grid-row: 5;
        text-decoration: none;
    }

    .titulo-nosotros {
        grid-area: t;
        font-weight: 900;
    }

    .st {
        grid-area: st;
        justify-self: left;
        margin: 0"";
    }
    
}

@media screen and (min-width: 1200px) {
    .nos-cont {
        display: grid;
        grid-template-columns: 1fr 1fr 245px 245px;
        grid-template-rows: 55px 52px auto 45px;
        grid-template-areas:
            "t t t t"
            "st st img img"
            "p p img img"
            "btn btn img img";
    }
    .link-btn {
        grid-area: btn;
        grid-row: 4/6;
    }


}

/*fin nosotros*/
/*proyectos*/
.proyectos-home-pc {
    display: none;
}
.proyectos-home-mobile {
    text-align: -webkit-center;
}

.card {
    --bs-card-border-width: var;
}

.card-title {
    font-weight: 600;
}

.card-img-overlay {
    top: auto;
    text-shadow: -2px -2px 11px black;
}

.btn {
    --bs-btn-padding-x: 0;
    --bs-btn-padding-y: 0;
    border: none;
}

.text-bg-dark {
    margin: 5% 5% 0% 5%;
    background-color: white !important;

}

.card-body {
    margin: 0;
    text-align: center;
}

.card-text:last-child {
    color: black;
}

.boton-proyectos {
    width: 300px;
    padding: 4% 1%;
    border-color: rgb(255, 255, 255);
    background-color: #e9e8e8;
    border-radius: 2%;
    border-style: none;
    text-decoration: none;
    color: black;
    margin: 5% 5% 10% 5%;
    
}


@media screen and (min-width: 600px) {

    .proyectos-home-mobile {
        display: none;
    }

    .proyectos-home-pc {
        display: block;
        text-align: -webkit-center;
    }

    .card-proyecto {
        position: relative;
        display: inline-block;
        text-align: center;
        width: 375px;
        margin: 1%;
    }

    .img-proyectos-home {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 3%;
    }


    .p-proyecto {
        display: none; 
        top: 190px;
        right: 5%;
        left: 5%;
        position: absolute;
        color: #e9e8e8;
        text-shadow: -2px -2px 11px black;
    }

    .card-proyecto:hover > .p-proyecto {
        display:block;
        top: 190px;
        right: 5%;
        left: 5%;
        position: absolute;
        color: #e9e8e8;
        text-shadow: -2px -2px 11px black;
    }

    .titulo-proyecto {
        position: absolute;
        top: 190px;
        right: 5%;
        left: 5%;
        color: #e9e8e8;
        text-shadow: -2px -2px 11px black;
        font-weight: bold;
    }

    .card-proyecto:hover > .titulo-proyecto{
        position: absolute;
        top: 50%;
        left: 10%;
        right: 10%;
        transition: 0.7s;
        color: #e9e8e8;
        text-shadow: -2px -2px 11px black;
        font-weight: bold;
    }

    .boton-proyectos {
        display: block;
        width: 300px;
        padding: 1% 1%;
        margin: 3%;
    }

    .boton-proyectos:hover {
        background-color: rgb(139, 139, 139);
        color: #ffffff;
        transition: 0.3s;
    }
}

/*fin proyectos*/
/*footer*/

.footer-style {
    background-color: #2c2c2c;
    color: #f3f3f3;
    text-align: center;
}

.titulo-footer {
    font-weight: 900;
}

.img-logo-footer {
    width: 60%;
    text-align: center;
}

.footer-li {
    text-decoration: none;
    color: #f3f3f3;
    text-align: center;
    padding-bottom: 1%;
    background-color: #2c2c2c ;
}

.footer-style div {
    padding-bottom: 5%;
}

.logo-wsp {
    position: fixed;
    top: 90%;
    right: 15px;
    width: 60px;
    z-index: 1;
    opacity: 75%;
}

@media screen and (min-width: 600px) {
    .footer-style {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        padding-top: 50px;
    }

    .img-logo-footer {
        width: 300px;
        align-self: center;
    }

    .footer-contenedor  {
        width: 300px;
    }

    .flex-column {
        text-align-last: left
    }

    .titulo-footer {
        text-align-last: left
    }

    .logo-wsp {
        opacity: 100%;
    }
    
}

/*fin footer*/

/*pagina de los servicios*/

.img-servicios {
    height: 25%;
}

.img-servicios-section {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    height: 100%;
    padding-bottom: 2%;
}

.imgi {
    display: none;
}

.imgd {
    display: none;
}
@media screen and (min-width: 600px) {

    .centrar-servicios {
        text-align: center;
    }
    .pag-servicios {
        width: 90%;
        text-align: -webkit-center;
        padding: 10px;
        margin: 10px;
    }
}

@media screen and (min-width: 768px) {
    .serv-grid-i {
        display: grid;
        justify-items: start;
        grid-template-columns: 20% 20% 25% 35%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "td td td td"
        "imgi imgi pd pd"
        "imgi imgi pd pd"
        "imgi imgi btnd btnd"
        ;
    }

    .imgi {
        grid-area: imgi;
        display: block;
        padding-right: 20px;
    }

    .td {
        grid-area: td;
        grid-column: 3/5;
    }

    .p-der {
        grid-area: pd;
    }

    .btnd {
        grid-area: btnd;
        grid-column: 4;
    }

    .img-servicios {
        display: none;
    }

    .serv-grid-d {
        display: grid;
        justify-items: start;
        grid-template-columns: 30% 30% 20% 20%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
        "ti ti ti ti"
        "pi pi imgd imgd"
        "pi pi imgd imgd"
        "btni btni imgd imgd"
        ;
    }

    .imgd {
        grid-area: imgd;
        display: block;
        padding-left: 20px;
    }

    .ti {
        grid-area: ti;
        grid-column: 1/3;
        display: block;
    }

    .p-izq {
        grid-area: pi;
    }

    .btni {
        grid-area: btni;
        justify-self: center;
    }

    .img-servicios {
        display: none;
    }

}

@media screen and (min-width: 1023px) {

    .pag-servicios {
        width: 1000px;
        margin: 2%;
    }

    .serv-grid-d {
        display: grid;
        grid-template-columns: 29% 29% 19% 19%;
    }

    .serv-grid-i {
        display: grid;
        grid-template-columns: 19% 19% 24% 34%;
    }
}

/*pagina nosotros*/

.nuestro-origen {
    width: 80%;
    text-align: center;
}


.historia-nosotros {
    text-align: justify;
}

.img-nosotros {
    width: 100%;
    margin-left: 2%;
}

@media screen and (min-width: 768px){
    
    .nuestro-origen {
        width: 80%;
        margin-left: 10%;
        display: inline-block;
    }


    .historia-nosotros {
        text-align: justify;
    }

    .img-nosotros {
        width: 40%;
        float: right;
        margin-left: 2%;
    }

}
.equipo-pag {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.equipo-pag div {
    width: 24%;
    display: inline-block;
    margin: 1%;
}

.equipo-pag div h3 {
    text-align: center;
}

.equipo-pag div h4 {
    text-align: center;
    color: #797979;
}

.equipo-pag div p {
    text-align: justify;
}


.img-equipo {
    width: 100%;
}

.premios {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    
}

.premios div {
    width: 40%;
    display: inline-block;
    margin: 1%;
}


.img-premios {
    width: 70%;
    background-color: #ffffff;
    margin-top: 10px;
}

.estadisticas {
    width: 80%;
    margin: 10%;
    text-align: center;
}

.estadisticas div {
    display: inline-block;
    margin: 2%;
    width: 25%;
    font-size: 150%;
}

.estadisticas div p {
    color: #797979;
    font-weight: bold;
    font-size: 200%;

}

/*fin pagina nosotros*/