//colors
$background-color: #f3f3f3;
$black-color: #000000;
$servicios-bg-color: #ffffff67;
$button-color: #e9e8e8;
$button-h-color: #8b8b8b;
$white-color: #ffffff;
$nosotros-color: #e0e0e0;
$footer-color: #2c2c2c;
$estadisticas-color: #797979;
