/*header*/
header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.navbar {
    padding: 0;

    &-brand {
    width: 70%;
    }

    &-collapse {
        flex-direction: row-reverse;
        font-weight: 900;
        font-size: 100%;
        text-align: center ;
    }
    
}


.img-logo {
    width: 9vh;
}

.container-fluid {
    background-color: $background-color;
}

.bg-body-tertiary { 
    --bs-bg-opacity: 0;
}

.nav-link:hover {
    color: $black-color;
}

/*fin header*/
