/*footer*/

.footer {
    background-color: $footer-color;
    color: $background-color;
    text-align: center;

    &--logo {
        width: 60%;
        text-align: center;
    }

    & div {
        padding-bottom: 5%;
    }

    &--contenedor--titulo {
        font-weight: 900;
    }
}

.footer-li {
    text-decoration: none;
    color: $background-color;
    text-align: center;
    padding-bottom: 1%;
    background-color: $footer-color;
}

.logo-wsp {
    position: fixed;
    top: 90%;
    right: 15px;
    width: 60px;
    z-index: 1;
    opacity: 75%;
}

@media screen and (min-width: 600px) {
    .footer {
        @include flex (flex, wrap, space-evenly, center);
        padding-top: 50px;

        &--logo {
            width: 300px;
            align-self: center;
        }
    
        &--contenedor  {
            width: 300px;
        }

        &--contenedor--titulo {
            text-align-last: left
        }
    }

    .flex-column {
        text-align-last: left
    }

    .logo-wsp {
        opacity: 100%;
    }
    
}

/*fin footer*/